* {
  box-sizing: border-box;
}

body {
  background-color: #d9f0ff;
  overflow:auto;
}

body.dark {
  background-color: #000000;
}

.box {
  background-color: #bfe2f9;
}

.box.dark {
  background-color: #2d2d2d;
  color: white;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.baseFlex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.backred {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #f44336;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.backred:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
