.inputform {
  background-color: #bfe2f9;
  margin: 5% auto;
  padding: 4%;
  width: 70%;
  min-width: 300px;
}

.inputform.dark {
  background-color: #393939;
  color: #e8e7e7;
}

.heading {
  text-align: center;
}

.tab {
  display: none;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

input {
  padding: 10px;
  /* width: 100%; */
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}
