body {
  background-color: #d9f0ff;
}

table, th, td {
  border: 1px outset black;
}

th, td {
  background-color: #96D4D4;
}

.main{
  background-color: #d9f0ff;
  border-radius: 10px;
  width: 60%;
  height: 70%;
  padding: 5% 0% 5% 20%;
  margin: 5% auto 15% auto;
  box-sizing: border-box;
}

.inputbox{
  background-image: radial-gradient(ellipse, #ff2dfe, #71005b);
  border: 5px solid #ad008c;
  border-radius: 10px;
  width: 60%;
  height: 400px;
  /* padding: 0%; */
  margin: 8% auto auto auto;
  box-sizing: border-box;
  text-align: center;
}

.column {
  float: left;
  padding: 10px;
}

.column.inputform {
  width: 92%;
}

.column.backred{
  width: 8%;
}

.backred {
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #f44336;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.backred:hover {
  background-color: #f44336;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
